.footer {
    position: fixed;
    z-index: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: orange;
}

.footer-title {
    margin-top: 10px;
    text-align: center;
    letter-spacing: 10px;
}

.footer-icons {
    display: flex;
    text-align: center;

}


.footer-icons-github-img,
.footer-icons-email-img,
.footer-icons-telegram-img,
.footer-icons-instagram-img{
    width: 30px;
    height: 30px;
    border-radius: 100%;
}
.footer-description {
    text-align: center;
}

@media screen and (max-width:576px){
    .footer-icons {
     margin-left: 35%;
    }
    .footer-icons-github,
    .footer-icons-email,
    .footer-icons-telegram,
    .footer-icons-instagram{
        margin-left:2% ;
    }
}
@media screen and (min-width:576px){
    .footer-icons {
        margin-left: 40%;
       }
       .footer-icons-github,
       .footer-icons-email,
       .footer-icons-telegram,
       .footer-icons-instagram{
           margin-left:2% ;
       }
}
@media screen and (min-width:768px){
    .footer-icons {
        margin-left: 40%;
       }
       .footer-icons-github,
       .footer-icons-email,
       .footer-icons-telegram,
       .footer-icons-instagram{
           margin-left:2% ;
       }
}
@media screen and (min-width:992px){
    .footer-icons {
        margin-left: 40%;
       }
       .footer-icons-github,
       .footer-icons-email,
       .footer-icons-telegram,
       .footer-icons-instagram{
           margin-left:2% ;
       }
}
@media screen and (min-width:1200px){
    .footer-icons {
        margin-left: 45%;
       }
       .footer-icons-github,
       .footer-icons-email,
       .footer-icons-telegram,
       .footer-icons-instagram{
           margin-left:2% ;
       }
}