<div class="footer">
    <div class="footer-title">MAHARNIKNADDAF</div>
    <div class="footer-icons">
        <div class="footer-icons-gitub"><img src="assets/img/icon/github.png" alt="gitub" class="footer-icons-github-img"></div>
        <div class="footer-icons-email"><img src="assets/img/icon/email.png" alt="email" class="footer-icons-email-img"></div>
        <div class="footer-icons-telegram"><img src="assets/img/icon/telegram.png" alt="telegram" class="footer-icons-telegram-img"></div>
        <div class="footer-icons-instagram"><img src="assets/img/icon/instagram.png" alt="instagram" class="footer-icons-instagram-img"></div>
    </div>
    <div class="footer-description">© 2023 All material and moral rights of this site belong to Iman Madaani.</div>
</div>